<title>Lịch sử đọc truyện</title>
<div class="mt-4 mx-5 " style="height: 500px;">
    <h2>
        <a href="/">Trang chủ</a>/Lịch sử đọc truyện
    </h2>
    
    <table class="table " style="margin-top: 2em;min-height: 360px;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên Truyện</th>
            <th scope="col">Chương Đang Đọc</th>
            <th scope="col" colspan="1">Thao Tác</th>
        </tr>
    </thead>
    <tbody>
        {{#each book}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td><form action="/truyen/{{this.slug}}"><button type="submit" style="outline: none;background-color: #EBEBEB;">{{this.name}}</button></form></td>
            <td><form action="/truyen/{{this.slug}}/chuong-{{this.lastReadChapterId}}"><button type="submit" style="outline: none;background-color: #EBEBEB;">Chương {{this.lastReadChapterId}} : ......</button></form></td>
            <td>
                <a href="" class="btn btn-danger" onclick="followStory('{{this.slug}}')" >Xoá </a>
            </td>
        </tr>
        {{else}}
        <tr>
          <td colspan="5">
            <div class="alert alert-warning text-center">
                <span class="mx-1"></span>
                <a href="/" class="btn-link">Hãy tìm truyện bạn yêu thích , theo dõi .</a>
            </div>
          </td>
        </tr>
        {{/each }}
    </tbody>
</table>



<script>
    function followStory(storyId) {
    const token = localStorage.getItem('token');
    if (!token) {
        
        throw Error('Không tìm thấy user')
    }

    fetch(`/unhistory/${storyId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            })
            .then(data => {
                console.log('Thành công hoặc thất bại:', data);
                window.location.reload()
            })
            .catch(error => {
                console.error('Error:', error);
            });
}

</script>