<title>Danh sách truyện {{book.name}}</title>
<div class="mt-4 mx-5 " style="height: 500px;">
    <h2>
        <a href="/">Trang Chủ</a> / Truyện {{book.name}}
    </h2>
    <a href="/book/{{book.slug}}/addlist" class="btn-link">Thêm chương</a>
    {{!-- <a href="/me/trash/book" class="btn-link ">Thùng rác ({{deletedCount}})</a> --}}
    <table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên Chương</th>
            <th scope="col">Thời Gian Cập Nhật</th>
            <th scope="col" colspan="2">Thao Tác</th>
        </tr>
    </thead>
    <tbody>
        {{#each chap}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.Chap}}</td>
            <td>{{this.updatedAt}}</td>
            <td>
                <a href="/book/{{../book.slug}}/{{this.slug}}/editchap" class="btn btn-link">Sửa</a>
                <a href="" class="btn btn-link" data-toggle="modal" data-id ="{{this.slug}}" data-target="#delete-chap-modal">Xoá</a>

            </td>
        </tr>
        {{else}}
        <tr>
          <td colspan="5">
            <div class="alert alert-warning text-center">
                Không có chương nào <span class="mx-1"></span>
                <a href="/book/{{book.slug}}/addlist" class="btn-link">Thêm Chương</a>
            </div>
          </td>
        </tr>
        {{/each }}
    </tbody>
</table>
</div>
<div class="modal fade" id="delete-chap-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn muốn xoá chương ?
        Dữ liệu không thể khôi phục 
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btn-delete-chap">XOÁ BỎ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>
<form name="delete-chap-form" method="POST" >


</form>



<script>
    document.addEventListener("DOMContentLoaded", function(){
        var chapID;
        var deleteForm = document.forms['delete-chap-form'];
        var btndelete = document.getElementById('btn-delete-chap');
        $('#delete-chap-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            bookID = button.data('id') 
            
        })
        
        btndelete.onclick = function(){
            deleteForm.action = '/book/{{book.slug}}/' + bookID + '?_method=DELETE'
            deleteForm.submit();
        }
    })
</script>