<title>Truyện Của Tôi Đăng</title>
<div class="mt-4 mx-5 " style="height: 500px;">
    <h2>
        <a href="/">Trang Chủ</a> / Truyện Của Tôi Đăng
    </h2>
    <a href="/me/trash/book" class="btn-link ">Thùng rác ({{deletedCount}})</a>
    <a href="/dang-truyen" class="btn-link " style="float:right; color:grey"><h4>Đăng Truyện</h4></a>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên Truyện</th>
            <th scope="col">Chương mới</th>
            <th scope="col">Thời Gian Cập Nhật</th>
            <th scope="col" colspan="3">Thao Tác</th>
        </tr>
    </thead>
    <tbody>
        {{#each storedBooks}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.Chapter}}</td>
            <td>{{time this.updatedAt}}</td>
            <td>
                <a href="/book/{{this.slug}}/edit" class="btn btn-link">Sửa</a>
                <a href="" class="btn btn-link" data-toggle="modal" data-id ="{{this.slug}}" data-target="#delete-book-modal">Xoá</a>
                <a href="/book/{{this.slug}}/list" class="btn btn-link">Danh sách chương</a>

            </td>
        </tr>
        {{else}}
        <tr>
          <td colspan="5">
            <div class="alert alert-warning text-center">
                Không có truyện nào <span class="mx-1"></span>
                <a href="/dang-truyen" class="btn-link">Đăng Truyện</a>
            </div>
          </td>
        </tr>
        {{/each }}
    </tbody>
</table>
</div>
{{!-- confirm delete --}}
<div class="modal fade" id="delete-book-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn muốn xoá truyện này chứ ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn-delete-book">XOÁ BỎ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>
{{!-- Delete  hidden form  --}}
<form name="delete-book-form" method="POST" >


</form>



<script>
    document.addEventListener("DOMContentLoaded", function(){
        var bookID;
        var deleteForm = document.forms['delete-book-form'];
        var btndelete = document.getElementById('btn-delete-book');
        $('#delete-book-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            bookID = button.data('id') 
            
        })
        
        btndelete.onclick = function(){
            deleteForm.action = '/book/' + bookID + '?_method=DELETE'
            deleteForm.submit();
        }
    })
</script>